* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 15px;
  background-color: bisque;
}

.drums {
  padding: 15px;
  background-color: coral;
  margin: auto;
  margin-top: 30px;
  border-radius: 3px;
}

#display {
  background-color: burlywood;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px 15px;
  text-align: center;
  border-radius: 3px;
  margin-top: 30px;
  border: 1px solid #000;
}

.drum-pad-layout {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.drum-pad {
  display: block;
  flex: 1 1 calc(33.3333% - 0.5rem);
  width: 33.3333%;
  margin: 0.25rem;
  background-color: #778899;
  border-radius: 3px;
  padding: 30px 0 30px 0;
  text-align: center;
  border: 1px solid #000;
  opacity: 1;
  cursor: pointer;
}

.footer {
  text-align: center;
  margin-top: 15px;
  font-size: 1.6em;
  color: #fff;
}

.footer a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}
